
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <!-- <img src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <span class="brand-text font-weight-light">IOT DEMO</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-chart-bar" aria-hidden="true"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/smarthome" class="nav-link">
              <i class="nav-icon fas fa-home" aria-hidden="true"></i>
              <p>
                Smart Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/training" class="nav-link">
              <i class="nav-icon fas fa-brain" aria-hidden="true"></i>
              <p>
                Train AI
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/predict" class="nav-link">
              <i class="nav-icon fas fa-robot" aria-hidden="true"></i>
              <p>
                AI Prediction
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/esp32cam" class="nav-link">
              <i class="nav-icon fas fa-camera" aria-hidden="true"></i>
              <p>
                ESP32Cam
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/mobilecamera" class="nav-link">
              <i class="nav-icon fas fa-camera" aria-hidden="true"></i>
              <p>
                Mobile Camera
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/tfobjectdetect" class="nav-link">
              <i class="nav-icon fas fa-baseball-ball" aria-hidden="true"></i>
              <p>
                Object Detection
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/hubotcontrol" class="nav-link">
              <i class="nav-icon fas fa-baseball-ball" aria-hidden="true"></i>
              <p>
                Hubot Control
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/bottleclassification" class="nav-link">
              <i class="nav-icon fas fa-baseball-ball" aria-hidden="true"></i>
              <p>
                Bottle Classification
              </p>
            </a>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>