<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">IOT DEMO</h1>
      <p class="lead">IOT AND SMART TECHNOLOGIES FOR STUDENTS</p>
    </div>
  </div>
</div>
